.sent-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 2rem;
    background-color: rgb(191, 191, 195);
  }
  
  .sent-detail-content {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .sent-detail-content h2 {
    margin-bottom: 10px;
  }
  
  .sent-detail-content div {
    margin-bottom: 10px;
  }
  
  .sent-detail-content div:last-child {
    margin-bottom: 0;
  }
  
  .sent-detail-content div span {
    font-weight: bold;
  }
  
  .loading {
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }
  